body{
    background-color: black;
    color: white;
    font-family: 'Anonymous Pro',monospace;
}

input{
    width: 100%;
}

h1{
    font-size: 3.5em;
    margin: 0;
}

.primary-text{
    color: #0f0;
}

.secondary-text{
    color: red;
}

.instructions{
    margin: 2em auto;
}

.instructions p{
    letter-spacing: 2px;
    line-height: 1.3em;
    margin: 0;
}

.input-field{
    background-color: black;
    border: none;
    color: white;
    font-size: 1em;
    font-family: 'Anonymous Pro',monospace;
    outline: none;
}


.list-div {
    display: flex;
    flex-wrap: wrap;
}

.list-div p{
    margin-right: 4em;
}

.title-text{
    color: yellow;
}

.name-div{
    margin-top: 2em;
}

table{
    width: 100%;
}

table td{
    vertical-align: top;
    border-bottom: 2px dashed white;
    padding: 1em 0;
}

table tr{
    margin-bottom: 1em;
}

table td:first-child{
    border-right: 2px dashed white;
    text-align: center;
}

table p{
    margin: 4px 1em;
}

.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills > div{
    margin-right: 3em;
}

.skills h4{
    margin: 0;
    color: cyan;
}